/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/extras
/local.cfg
.coverage
*.egg-info
*.eggs
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.mr.developer.cfg
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
htmlcov
bower_components
