/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/share
/dist
/local.cfg
/extras
/pyvenv.cfg
.coverage
*.egg-info
*.eggs
/.installed.cfg
*.pyc
/.Python
/include
/lib
/local
/.mr.developer.cfg
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
sphinx_build.log
htmlcov
npm-debug.log
*.hprof
.DS_Store
jmeter.log
pip-selfcheck.json
/.idea
/.vscode
/.ipython
/.mypy_cache/
.*project
