language: python
python: "2.7"
sudo: false
cache:
  directories:
  - eggs
before_install:
  - pip install http://effbot.org/downloads/Imaging-1.1.7.tar.gz
install:
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - python bootstrap-buildout.py --setuptools-version=8.3 -c travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg
script:
  - bin/code-analysis
  - bin/test-coverage
after_success:
  - pip install -q coveralls
  - coveralls
