[buildout]
extends = http://dist.plone.org/release/4.3.4/versions.cfg
extensions = mr.developer
parts =
    instance
    test
    coverage
    test-coverage
    code-analysis
    releaser
    sphinxbuilder
    sphinx-python
    deploy-to-heroku
develop = .
sources-dir = extras
auto-checkout =
    plone.dexterity
    plone.rest

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plone.app.debugtoolbar
    plone.restapi [test]

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', 'plone.restapi', '--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/plone/restapi bin/test
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src
flake8-exclude=bootstrap.py,bootstrap-buildout.py,docs,bin,*.egg,setup.py,overrides
flake8-max-complexity = 15
flake8-extensions =
    flake8-coding
    flake8-debugger
    flake8-print

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs
interpreter = ${buildout:directory}/bin/${sphinx-python:interpreter}

[sphinx-python]
recipe = zc.recipe.egg
eggs = sphinxcontrib-httpdomain
interpreter = sphinxPython

[deploy-to-heroku]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    git push heroku master
output = ${buildout:directory}/bin/deploy-to-heroku
mode = 755

[sources]
plone.dexterity = git git://github.com/plone/plone.dexterity.git pushurl=git@github.com:plone/plone.dexterity.git branch=plip-680
plone.rest = git git://github.com/plone/plone.rest.git pushurl=git@github.com:plone/plone.rest.git branch=master

[versions]
setuptools = 18.6.1
zc.buildout = 2.4.3
zope.interface = 4.0.5
coverage = 3.7.1
flake8 = 2.3.0
plone.recipe.codeanalysis = 2.0b1
Sphinx = 1.3.1
docutils = 0.12
Pygments = 2.0
six = 1.4

plone.app.contenttypes = 1.1b5
plone.app.event = 1.1.5
plone.formwidget.recurrence = 1.2.6
