graft src/plone/restapi
graft docs
include *.rst
include *.txt
exclude *.cfg
exclude *.yml
exclude *.in
exclude *.jmx
exclude *.yaml
exclude .coveragerc
exclude .editorconfig
exclude Dockerfile
exclude Makefile
exclude bootstrap-buildout.py
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude news
