graft src/plone/restapi
graft docs
include *.rst
include *.txt
exclude *.cfg
exclude *.yml
exclude *.in
exclude *.jmx
exclude *.yaml
exclude .coveragerc
exclude .editorconfig
exclude Dockerfile
exclude Makefile
exclude bootstrap-buildout.py
exclude CODEOWNERS
exclude docs/make.bat
exclude docs/Makefile
recursive-exclude docs/doctrees *
recursive-exclude docs/html *
recursive-exclude performance *
recursive-exclude src/plone/restapi/tests *
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude news
