graft src/plone/restapi
graft docs
include *.md
include *.txt
exclude *.cfg
exclude *.yml
exclude *.in
exclude *.jmx
exclude *.yaml
exclude .coveragerc
exclude .editorconfig
exclude .flake8
exclude .vale.ini
exclude Dockerfile
exclude Makefile
exclude CODEOWNERS
exclude docs/make.bat
exclude .python-version
exclude constraints-mxdev.txt
exclude requirements-mxdev.txt
recursive-exclude performance *
exclude docs/Makefile
prune docs/_build
prune docs/styles/Microsoft
prune src/plone/restapi/tests/images
prune news
global-exclude *.pyc
include pyproject.toml
include netlify.toml
prune ideas
exclude test-no-uncommitted-doc-changes
