[buildout]
extends =
    base.cfg
    http://dist.plone.org/release/5.2.2/versions.cfg
find-links += http://dist.plone.org/thirdparty/
versions=versions

[versions]
plone.restapi =
plone.namedfile = 5.2.2

# Error: The requirement ('importlib-metadata>=1') is not allowed by your [versions] constraint (0.23)
importlib-metadata = 2.0.0

# Error: The requirement ('pep517>=0.9') is not allowed by your [versions] constraint (0.8.2)
pep517 = 0.9.1

# Error: The requirement ('virtualenv>=20.0.35') is not allowed by your [versions] constraint (20.0.26)
virtualenv = 20.0.35
