[buildout]
extends =
    https://dist.plone.org/release/6.0-dev/versions.cfg
    base.cfg
find-links = https://dist.plone.org/release/6.0-dev/
versions=versions


[instance]
recipe = plone.recipe.zope2instance
zodb-temporary-storage = off

[versions]
black = 21.7b0

# cffi 1.14.3 fails on apple m1
# cffi 1.14.4 fails with "ModuleNotFoundError: No module named '_cffi_backend'"
cffi = 1.14.6
