[buildout]
extends =
    https://dist.plone.org/release/4.3.20/versions.cfg
    base.cfg
    versions.cfg

[versions]
plone.testing = 5.0.0
pytz = 2017.3
zope.interface = 4.1.0

# Last pyrsistent version that is python 2 compatible:
pyrsistent = 0.15.7

# version 4 breaks in Python 2.7
jsonschema = 3.2.0

# latest version compatible with Python 2
pyparsing = 2.4.7

# Required by plone.restapi
six = 1.12.0

# latest version compatible with Python 2
plone.schema = 1.4.0

# latest version compatible with Python 2
sphinxcontrib-websupport = 1.1.2
stdlib-list = 0.6.0
zest.pocompile = 1.6.0
plone.rest = 3.0.2
