[buildout]
extends =
    base.cfg
    https://dist.plone.org/release/5.2.3/versions.cfg
find-links += https://dist.plone.org/thirdparty/
versions=versions

[versions]
black = 20.8b1

# Error: The requirement ('virtualenv>=20.0.35') is not allowed by your [versions] constraint (20.0.26)
virtualenv = 20.0.35

# Error: The requirement ('pep517>=0.9') is not allowed by your [versions] constraint (0.8.2)
pep517 = 0.9.1

# Error: The requirement ('importlib-metadata>=1') is not allowed by your [versions] constraint (0.23)
importlib-metadata = 2.0.0
