docutils
Sphinx<=4.99
jsx-lexer
lesscpy
linkify-it-py
myst-parser
sphinx-autobuild
sphinx-book-theme<=0.3.99
sphinx-copybutton
sphinx-sitemap
sphinx-togglebutton
sphinxcontrib.httpdomain
sphinxcontrib.httpexample
sphinxcontrib-spelling
sphinxext-opengraph
