[buildout]
extends = plone-x.x.x.cfg
parts += createcoverage

# caches, see also .travis.yaml
# one should not depend on '/home/travis' but it seems stable in containers.
eggs-directory = /home/travis/buildout-cache/eggs
download-cache = /home/travis/buildout-cache/downloads

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[code-analysis]
recipe = plone.recipe.codeanalysis
pre-commit-hook = False
return-status-codes = True
