[versions]

plone.restapi =

# Build
setuptools =
zc.buildout =
zc.recipe.egg = 2.0.3

# Code-analysis
plone.recipe.codeanalysis = 3.0.0a0
coverage = 3.7.1
pep8 = 1.7.1
flake8 = 3.5.0
flake8-coding = 1.2.2
pycodestyle = 2.3.1

# Sphinx
Sphinx = 1.6.5
docutils = 0.14
Pygments = 2.2.0
sphinxcontrib-httpexample = 0.7.0
sphinxcontrib-httpdomain = 1.5.0
sphinx-rtd-theme = 0.2.4
Jinja2 = 2.10
Babel = 2.5.1

# Release
zest.releaser = 6.14.0
twine = 1.10.0
