name: Plone RESTAPI CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.7, 3.6]
        plone-version: [5.2]

    steps:
      # git checkout
      - uses: actions/checkout@v2

      # python setup
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      # python cache
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # python install
      - run: pip install virtualenv
      - run: pip install wheel
      - name: pip install
        run: pip install -r requirements.txt

      # buildout
      - name: buildout
        run: buildout -t 10 -c plone-${{ matrix.plone-version }}.x.cfg code-analysis:return-status-codes=True
        env:
          CI: true

      # code analysis
      - name: code analysis
        run: bin/code-analysis

      # build sphinx
      - name: sphinx
        run: if [ "${{ matrix.plone-version }}" == "5.2" ] && [ ${{ matrix.python-version }} == '3.7' ]; then bin/sphinxbuilder; fi

      # test
      - name: test
        run: bin/test

      # test no uncommited changes
      # TODO Temporarily commented out.
      # See https://github.com/plone/plone.restapi/pull/1214#issuecomment-911902998
      # Ping Maurits if you still see this within a few days.
      # - name: test no uncommited changes
      #   run: bin/test-no-uncommitted-doc-changes
      #   env:
      #     PYTHON_VERSION: ${{ matrix.python-version }}
      #     PLONE_VERSION: ${{ matrix.plone-version }}

      # test sphinx warnings
      - name: sphinx
        run: if [ "${{ matrix.plone-version }}" == "5.2" ] && [ ${{ matrix.python-version }} == '3.7' ]; then bin/test-no-sphinx-warnings; fi
